<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/weshare.png" width="28" height="28" class="d-inline-block align-top brand-icon" alt="WeShare">WESHARE
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul *ngIf='!userId' class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active"><span class="fa fa-sign-in"></span>&nbsp;Login</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" href="register"><span class="fa fa-user-plus"></span>&nbsp;Register</a>
      </li> -->
    </ul>
    <ul *ngIf='userId' class="navbar-nav">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome {{userName}} !
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="profile/{{userId}}">Edit Profile</a>
              <a class="dropdown-item" routerLink="pwd/{{userId}}">Change Password</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)='logout()'>Sign Out</a>
          </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <hr/>
  <div class="text-center footer-text">
    Copyright &copy; 2018 PerkinElmer Informatics R&D, all rights reserved.
  </div>
</footer>