<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{staff.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img [src]="domSanitizer.bypassSecurityTrustUrl(staff.avatar)" class="img-fluid float-left d-block rounded" style="max-width: 100%; max-height: 100%;"
        alt="{{staff.name}}" />
    </div>
    <div class="col-md-9">
      <form id="form" #form>
        <h3>Change Password</h3>
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-label">Original Password:</div>
            <dx-text-box class="dx-field-value" id="txtOldPassword" name="txtOldPassword" [(value)]="oldPassword" mode="Password" [showClearButton]="true"></dx-text-box>
            <dx-tooltip target="#txtOldPassword" [(visible)]="oldPasswordTooltipVisible">
              <div *dxTemplate="let data = data of 'content'">
                  <div class="tooltip-error">Password is required</div>
              </div>
            </dx-tooltip>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">New Password:</div>
            <dx-text-box class="dx-field-value" id="txtNewPassword" name="txtNewPassword" [(value)]="newPassword" mode="Password" [showClearButton]="true"></dx-text-box>
            <dx-tooltip target="#txtNewPassword" [(visible)]="newPasswordTooltipVisible">
              <div *dxTemplate="let data = data of 'content'">
                  <div class="tooltip-error">New Password is required</div>
              </div>
            </dx-tooltip>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Confirm Password:</div>
            <dx-text-box class="dx-field-value" id="txtConfirmPassword" name="txtConfirmPassword" [(value)]="confirmPassword" mode="Password" [showClearButton]="true"></dx-text-box>
            <dx-tooltip target="#txtConfirmPassword" [(visible)]="confirmPasswordTooltipVisible">
              <div *dxTemplate="let data = data of 'content'">
                  <div class="tooltip-error">{{confirmPasswordTooltipText}}</div>
              </div>
            </dx-tooltip>
          </div>
        </div>
        <dx-button id="button" text="Reset" type="danger" (onClick)="clearFields()">
        </dx-button>
        <dx-button id="button" text="Update" type="success" (onClick)="updateClick()">
        </dx-button>
      </form>
    </div>
  </div>
</div>
