<div class="card">
  <div class="card-header">
    TIMING
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <span class="progress-label" style="margin-right: .2em;">Current:</span>{{currentIndex + 1}} of {{totalCount}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="progress" style="height: 2rem;">
          <div class="progress-bar progress-bar-striped progress-bar-animated" 
            [class.bg-info]="(remainingSeconds/totalSeconds)*100 > 25" 
            [class.bg-danger]="(remainingSeconds/totalSeconds)*100 <= 25" 
            role="progressbar" 
            [attr.aria-valuenow]="remainingSeconds" 
            aria-valuemin="0"
            [attr.aria-valuemax]="totalSeconds" 
            style="height: 2rem;" 
            [style.width]="(remainingSeconds/totalSeconds)*100 + '%'">
            <span style="font-size: large;">{{remainingSeconds}}"</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>