<div class="card">
  <div class="card-header">
    TIMING
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-3 progress-label">
        Current:
      </div>
      <div class="col-md-9 text-left">
        {{currentIndex + 1}} of {{totalCount}}
      </div>
    </div>
    <div class="row" style="margin-top: 2em;">
      <div class="col-md-12 progress-label">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" [class.bg-info]="(remainingSeconds/totalSeconds)*100 > 25" [class.bg-danger]="(remainingSeconds/totalSeconds)*100 <= 25" role="progressbar" [attr.aria-valuenow]="remainingSeconds" aria-valuemin="0"
            [attr.aria-valuemax]="totalSeconds" style="height: 1.8em;" [style.width]="(remainingSeconds/totalSeconds)*100 + '%'"><span style="font-size: large;">{{remainingSeconds}}"</span></div>
        </div>
      </div>
    </div>
    
    <div class="row" style="margin-top: .8em;">
      <div class="col-md-12">
        
      </div>
    </div>
  </div>
</div>